<div>
  <div>
    <label for="" class="s-label">Procedimiento</label>
    <div>
      <input type="text" name="sp" class="form-control">
    </div>
  </div>
  <div>
    <label for="" class="s-label">Modulo</label>
    <div>
      <input type="text" name="sp" class="form-control">
    </div>
  </div>
  <div>
    <label for="" class="s-label">Estado</label>
    <div>
      <input type="text" name="sp" class="form-control">
    </div>
  </div>
  <div>
    <label for="" class="s-label">Estado</label>
    <div>
      <button class="btn btn-default">Crear</button>
    </div>
  </div>

</div>